.bg-brown {

background-color: #f3e3d3;
}

.bg-grey-header {
background-color:#c98860;
}

.font-barlow {
font-family: "Barlow", Arial;
}

.flex {
display: flex;

}
.justify-center {
justify-content: center;
}
.justify-between {
    justify-content: space-between;

}


.pt-4{
padding-top: 5rem;
}

.uppercase {
text-transform: uppercase;
} 

.list-none {
list-style-type: none;
}

.no-underline {
text-decoration: none;
}
.mx-10 {
    margin-left: 5rem;
    margin-right: 5rem;
}
.items-center{
align-items: center;
}

.grid {

    display: grid;
}

.grid-cols-2

 { grid-template-columns: repeat(2, minmax(0, 1fr)); 

    
}
.grid-cols-3{

    grid-template-columns: repeat(3, minmax(0, 1fr));  
}

.justify-end 

    justify-content: flex-end;
    

.content-center{

}

    



